nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
}

a {
    color: #5c5c5c !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a:hover {
    color: #000000 !important;
    text-decoration: underline !important;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

h1 {
    color: #404040;
}

h2 {
    color: #5c5c5c;
}

p {
    margin-top: 5%;
    letter-spacing: 1px;
}

.container {
    margin-top: 5%;
}

img {
    width: 100%;
}

.important-info {
    text-transform: uppercase;
    margin-bottom: 2%;
}

.info {
    margin: 5%;
    border: 1px solid #5c5c5c;
    border-radius: 20px;
    padding: 5%;
}

.item {
    margin-top: 5em;
}

.box-text,
.box-img {
    padding: 5%;
}

label {
    color: #5c5c5c;
}

.contact {
    margin-top: 10%;
    margin-bottom: 10%;
}

form {
    border: 1px solid #5c5c5c;
    padding: 2%;
    border-radius: 20px;
}

.footer .row {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    text-align: left;
}
.footer li {
    list-style-type: none;
    margin: 2%;
}
.footer i {
    margin-right: 2%;
}

.footer img {
    margin: 2%;
    width: 30%;
}

.footer a {
    color: #404040;
}

.footer a:hover {
    color: #000000;
}
